DmaTransfer.cache
DmaTransfer.hw
DmaTransfer.ip_user_files
DmaTransfer.runs
DmaTransfer.sim
DmaTransfer.tmp
DmaTransfer.xpr
*.log
*.jou
*.str
.Xil
*.cmd
DmaTransfer.srcs/*/ip/*/*/**
DmaTransfer.srcs/*/ip/*/*
!DmaTransfer.srcs/*/ip/*/*.xci
DmaTransfer.srcs/*/IpCustom/*/*
!DmaTransfer.srcs/*/IpCustom/*/component.xml
!DmaTransfer.srcs/*/IpCustom/*/hdl/
!DmaTransfer.srcs/*/IpCustom/*/xgui/
DmaTransfer.srcs/*/bd/**/*.*
!DmaTransfer.srcs/*/bd/*/*.bd
!DmaTransfer.srcs/*/bd/*/ui/*.ui
